*{
    margin: 0;
    padding: 0;
}
#shoulder {
    font-family: 'Big Shoulders Display', sans-serif;
}
#lexend {
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
}
.body {
    position: relative;
    width: 100%;
    height: 100vh;
}
.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}
.sedans {
    background-color: hsl(31, 77%, 52%);
    padding-left: 50px;
    padding-right: 30px;
    padding-top: 40px;
    padding-bottom: 40px;
}
.suvs {
    background-color: hsl(184, 100%, 22%);
    padding-left: 50px;
    padding-right: 30px;
    padding-top: 40px;
    padding-bottom: 40px;
}
.luxury {
    background-color: hsl(179, 100%, 13%);
    padding-left: 50px;
    padding-right: 30px;
    padding-top: 40px;
    padding-bottom: 40px;
}
.txt {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 40px;
    margin-bottom: 60px;
    color: white;
}
.txt p.head {
    font-weight: 700;
    font-size: 30px;
}
.txt p.sub {
    font-size: 14px;
}
.sedans a {
    padding: 10px 18px;
    background-color: white;
    border-radius: 20px;
    color: hsl(31, 77%, 52%);
    text-decoration: none;
}
.sedans a:hover {
    background-color: transparent;
    border: 2px solid white;
    color: white;
}
.suvs a {
    padding: 10px 18px;
    background-color: white;
    border-radius: 20px;
    color: hsl(184, 100%, 22%);
    text-decoration: none;
}
.suvs a:hover {
    background-color: transparent;
    border: 2px solid white;
    color: white;
}
.luxury a {
    padding: 10px 18px;
    background-color: white;
    border-radius: 20px;
    color: hsl(179, 100%, 13%);
    text-decoration: none;
}
.luxury a:hover {
    background-color: transparent;
    border: 2px solid white;
    color: white;
}

@media (min-width: 320px) and (max-width: 350px) {
    .body {
        position: absolute;
        width: 100%;
        height: 100vh;
    }
    .container {
        flex-direction: column;
        padding-top: 0;
       margin-top: 10px;
    }
    .txt {
        margin-top: 20px;
        margin-bottom: 30px;
    }
    p.head {
        font-size: 20px;
    }
    p.sub {
        font-size: 10px;
        line-height: 25px;
    }
    .sedans {
        width: 250px;
    }
    .suvs {
        width: 250px;
    }
    .luxury {
        width: 250px;
    }
}