*{
    margin: 0;
    padding: 0;
}
#shoulder {
    font-family: 'Big Shoulders Display', sans-serif;
}
#lexend {
    font-family: 'Lexend Deca', sans-serif;
}
.body {
    position: relative;
    width: 100%;
    height: 100vh;
}
.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}
.sedans {
    background-color: hsl(31, 77%, 52%);
    padding-left: 50px;
    padding-top: 40px;
    padding-bottom: 40px;
}
.suvs {
    background-color: hsl(184, 100%, 22%);
}
.luxury {
    background-color: hsl(179, 100%, 13%);
}
.txt {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 40px;
    margin-bottom: 60px;
    color: white;
}
.txt p.head {
    font-weight: 700;
    font-size: 30px;
}
.txt p.sub {
    font-size: 14px;
}